<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      h3 { color: greenyellow }
      p { color:lime }
    </style>

  </head>
  <body>
      <h3>{{title}}</h3>
      <p>{{text}}</p>
  </body>
</html>